<nav id="nav">
  <div class="container">
    <ul class="left hide-on-med-and-down">
      <li><%= link_to 'Projects', projects_path %></li>
      <li><%= link_to 'Products', products_path %></li>
      <li><%= link_to 'Researchers', visits_path %></li>
  </div>
</nav>
