<div class="row">
  <h4>Welcome to Qatar Computing Research Institute</h4>
    <div class="card">
      <div class="card-content">
        <p> Qatar Computing Research Institute, or QCRI for short, is the
            leading institute for computing research in Qatar. Here at QCRI,
            we explore a diverse set of research paths, from Artificial
            Intelligence to Computational Biology. Please explore to your
            heart's content!
        </p>
      </div>
    </div>
  </div>
</div>
