<h1>Editing researcher</h1>

<%= render "form", researcher: @researcher %>

<br>

<div>
  <%= link_to "Show this researcher", @researcher %> |
  <%= link_to "Back to researchers", researchers_path %>
</div>
